.main {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.menu {
  flex-basis: 70%;
  padding: 15px;
  border: 4px solid black;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-between;
  position: relative;
}

.order {
  flex-basis: 25%;
  border: 4px solid black;
  padding: 15px;
  position: relative;
}

.title {
  position: absolute;
  background-color: white;
  top: -35px;
  left: 15px;
  padding: 0 10px;
}